// HEADER :: START
header.header
  .container
  .mobile-menu
    .header__hamburger
      .hamburger.hamburger--elastic.js-hamburger
        .hamburger-box
          .hamburger-inner
    .mobile-menu__logo
      a(href="#")
        img(src="./img/logo.png", alt="")
    .mobile-menu__wrapper
      nav.mobile-menu__nav.mobile-navi
        ul
          li
            a(href="#") home 
          li
            a(href="#") menu one
          li
            a(href="#") menu two
// HEADER :: END
// NAV :: START
nav.main-nav
  .container
    ul.row
      li
        a(href="#") home 
      li
        a(href="#") menu one
      li
        a(href="#") menu two
// NAV :: END